
{{ form_start(form) }}
<div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
</div>

<div class="row">
    <div class="col">
        {{ form_row(form.username) }}
    </div>
    <div class="col" id="some-custom-id">
        {{ form_row(form.password.first) }}
    </div>
    <div class="col" id="some-custom-id">
        {{ form_row(form.password.second) }}
    </div>
</div>

<button type="submit">Register!</button>
{{ form_end(form) }}